<p>
  <strong>Date Assigned</strong>
  <%= @quiz.assigned %>
</p>
<p>
  <strong>Quiz Name</strong>
  <%= @quiz.title %>
</p>
<p>
  <strong>Instructor</strong>
  <%= @quiz.instructor.first_name %> <%= @quiz.instructor.last_name %>
</p>

<% @quiz.questions.order(:id).each do |question| %>
  <p>
    <strong>Question Description</strong>
    <%= question.ask %>
  </p>
  <p>
    <strong>Choices</strong> 
    <ul>
      <% question.options.each do |option| %>
        <li>
          <%= option.name %>
        </li>
      <% end %>
    </ul>
  </p>
  <p>
    <strong>Question Explanation</strong>
    <%= question.explanation %>
  </p>
<% end %>


<a href="/instructors/profile">Back to Instructor Dashboard</a>
<a href="/quizzes">Quizzes</a>
