<h3>New Option</h3>

<%= form_for(@option) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :correct %>
    <%= f.check_box :correct %>
  </div>
  <div>
    <%= f.label :question_id %>
    <%= f.select :question_id, Question.all.collect {|question| [  question.ask, question.id]}, {include_blank: false} %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>

<a href="/instructors/profile">Back to Instructor Dashboard</a>
<a href="/options">All Options</a>
