<h2>Welcome</h2>

  <h3>Log In</h3>

  <%= form_tag '/sessions', method: :post do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Log In' %>
  <% end %>

  <nav>
    <ul>
      <li>
        <a href="/students/new">Students Sign Up</a>
      </li>
      <li>
        <a href="/instructors/new">Instructors Sign Up</a>
      </li>
    </ul>
  </nav>

<li><%= button_to 'Log-Out', log_out_path, method: :delete %></li>