<%= form_for @submission do |f| %>

  <div>
    <%= @question.ask %>
  </div>
  <div>
    <%= f.label :option_id %>
    <%= f.select :option_id, @question.options.collect {|option| [  option.name, option.id]}, {include_blank: false}%>
  </div>


  <div>
    <%= f.submit 'Submit your answer' %>
  </div>

<% end %>

